/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap');

/* VARIABLES GLOBALES */
:root {
  --white:    #FFFFFF;
  --beige:    #D5D2C8;
  --black:    #000000;
  --offwhite: #FAF3E9;
  --gray:     #ACA8A3;
  --dark:     #2D2D2D;
  --orange:   #FF7648;

  --font-title: 'Playfair Display', serif;
  --font-body:  'Inter', sans-serif;
}

/* RESET BÁSICO */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ESTILOS BODY */
body {
  font-family: var(--font-body);
  color: var(--black);
  background-color: var(--white);
  line-height: 1.5;
}

/* ENLACES */
a {
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}
a:hover {
  color: var(--orange);
}

/* BOTONES */
button {
  font-family: var(--font-body);
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  background-color: var(--black);
  color: var(--white);
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--dark);
}
